:root {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    font-weight: 400;
    /* gradient-colors */
    --gradient-start: #11998E;
    --gradient-end: #38EF7D;
    /* text-colors */

    /* hero section */
    --primary-color: #FFFFFF;

    /* section-text colors */
    --title-color: #0E0E0E;
    --p-colors: #545454;
}

.gradient-primary {
    background: linear-gradient(to right, var(--gradient-start), var(--gradient-end));
}

.text-highlight {
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.h1 {
    color: var(--primary-color);
    font-size: 3.5em;
    line-height: 120%;
    font-weight: 600;
}

/* secondary-title[section title] */
.h2 {
    color: var(--title-color);
    font-size: 2em;
    font-weight: 500;
    line-height: 130%;
}

/* tertiary-title[card] */
.h3 {
    color: var(--title-color);
    font-size: 1em;
    font-weight: 400;
}

/* general paragraph */
.p {
    color: var(--p-colors);
    line-height: 150%;
    font-size: 1em;
}

/* card paragraph */
.card-p {
    font-size: 0.88em;
}

/* section settings */
.section {
    padding: 0 120px;
}

/* padding top */
.pad-top {
    padding-top: 120px;
}

/* Navbar */
#navbar {
    height: 14%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--title-color);
    position: fixed;
    z-index: 1;
}

.logo, .register {
    font-weight: 600;
}

#navbar a {
    text-decoration: none;
    color: var(--primary-color);
    margin-right: 1em;
}

#navbar a:hover {
    color: var(--gradient-end);
}

#navbar .register:hover {
    padding: 1em;
    color: var(--primary-color);
}

#navbar ul {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    border-radius: 5px;
    border: none;
    padding: 0.8em;
}

/* Hero section */
#hero {
    height: 100vh;
    position: relative;
    background-color: var(--title-color);
    display: flex;
    justify-content: space-between;
}

.content-title h3, .hero-content-rating h3 {
    color: var(--primary-color);
}

.container-content {
    width: 45%;
}

.hero-title {
    padding: 1em 0;
}

.hero-title p {
    padding-top: 10px;
}

.download {
    cursor: pointer;
    background-color: #0e0e0e00;
}

.download {
    width: 30%;
    height: 60px;
}

.content-title {
    padding-top: 1em;
}

.container-img {
    width: 45%;
    display: flex;
    justify-content: end;
    align-items: flex-end;
}

.container-img > img {
    height: 80vh;
    width: max-content;
    float: right;
}

.container-img > img:hover  {
    height: 82vh;
    transition-duration: 0.3s;
}

.stars img {
    max-height: 16px;
}

.stars {
    padding: 0 1em;
}

.hero-content-btn {
    padding-top: 1em;
}

.hero-content-rating {
    display: flex;
    align-items: center;
    padding-top: 1em;
}

/* Brands section */
#brands {
    height: 35vh;
    text-align: center;
}

#brands .container {
    margin-top: 2em;
    padding: 2em 0;
}

.brands {
    display: flex;
    justify-content: space-around;
    padding: 4em 0;
}

.brands img {
    height: 28px;
    width: 10%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.brands img:hover {
    cursor: pointer;
    transition: 0.3s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(0%);
}

#section-2 {
    height: 100vh;
}

/* Why us section */
.why-us {
    width: 10%;
    margin: 0 auto;
    color: var(--primary-color);
}

.text-center {
    text-align: center;
}

.title h2 {
    width: 45%;
    padding: 1em 0;
    margin: 0 auto;
}

.title {
    margin-top: 1.2em;
}

/* cards */
.card-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4em;
}

.card {
    width: 25%;
    height: 40vh;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.card:hover {
    background-color: var(--title-color);
    color: var(--primary-color);
    border-radius: 8px;
    cursor: pointer;
}

.card-title {
    width: 238px;
    height: 114px;
}

.icon-box {
    height: 38px;
    width: 38px;
    border-radius: 8px;
    padding: 8px;
}

.img-icon {
    width: 22px;
    height: 22px;
}

.card h3 {
    width: 80%;
    line-height: 150%;
    padding: 1em 0;
    font-weight: 500;
}

/* Section 3 */

#section-3 {
    height: 100vh;
    width: 100%;
}

#section-3 .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#section-3 .image-container img {
    height: 70vh;
}

#section-3 .image-container {
    background-color: var(--title-color);
    border-radius: 32px;
    width: 50%;
}

#section-3 .content {
    width: 45%;
}

#section-3 .content p {
    padding: 1em 0;
}

#section-3 .demo {
    padding: 1.5em 2em;
    color: var(--primary-color);
    cursor: pointer;
}

#section-3 .demo:hover {
    padding: 2em;
}

/* Section-4 */

#section-4 {
    height: 100vh;
    width: 100%;
}

#section-4 .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#section-4 .image-container img {
    height: 70vh;
}

#section-4 .image-container {
    background-color: var(--title-color);
    border-radius: 32px;
    width: 50%;
    text-align: center;
}

#section-4 .content {
    width: 45%;
}

#section-4 .content p {
    padding: 1em 0;
}

#section-4 .learn {
    padding: 1.5em 2em;
    color: var(--primary-color);
    cursor: pointer;
}

#section-4 .learn:hover {
    padding: 2em;
}

/* Section-5 */
#section-5 {
    position: relative;
    height: 100vh;
}

#section-5::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh; 
    background-color: #EEF9EA;
    z-index: -1;
}


#section-5 .title h2 {
    padding: 0.5em 0;
}

#section-5 .title .h3 {
    width: 18%;
    padding: 1.5em 0;
}

#section-5 .card-container {
    margin-top: 3em;
}

#section-5 p.p {
    padding: 1em 0;
}

#section-5 .container {
    padding: 3em 0;
}

#section-5 .card-t {
    width: 30%;
    height: 40vh;
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--primary-color);
    border-radius: 1.5em;
}

#section-5 .stars {
    padding: 0;
}

#section-5 .content p{
    padding: 1em 0;
    width: 45%;
    margin: 0 auto;
}

.card-t h3 {
    font-weight: 500;
}

#section-6 {
    height: auto;
}

#section-6 > .container {
    display: flex;
}

.fw {
    width: 100%;
}

.ht {
    height: auto;
}

.mar {
    margin: 120px 0;
}

.img-ht {
    height: 600px;
}

.pd {
    padding-bottom: 1em;
}

#footer {
    height: 10%;
    background-color: #1d1d1d;
}

#footer .container {
    display: flex;
    justify-content: center;
    padding: 1.7em;
}

#footer p {
    color: var(--primary-color);
}
